/* START NAV MENU */
nav {
    background-color:#AFEEEE;
    height:32px;
    width:50%;
    float:left;
    position: relative;

    border-bottom: 6px solid #808080;
}
 
nav ul {
    font-family: Sonoma, Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align:center;
    position: center;
    float: top left;
    clear: left;
    left: 0%;
}
 
nav ul li {
    margin: 4px;
    padding: 0px;
    float: left;
    position: top left;
    display: block;
    right:0%; 
}
 
nav li ul { 
    display: none; 
}
 
nav ul li a {
    display: block;
    text-decoration: box;
    background: #90EE90;
    color: #0000FF;  
    padding: 5px 5px 5px 10px;
    margin-left: 3px;
    white-space: 0px;
    height:13px; /* Width and height of top-level nav items */
    width:fit;
    text-align:left;
    border-right: 0px solid navy;
    border-left: 4px solid navy;
    border-top: 0px solid navy; 
    border-bottom: 4px solid navy;
}
 
nav ul li a:hover { 
    background: #ADD8E6; 
}
 
nav li:hover ul {
    display: block;
    margin: 8px;
    position: top left;
    height:8px;
}
 
nav li:hover li {
    float: none;
    font-size: 14px; 
}
  
nav li:hover a { 
    background: #EEE8AA; 
    height:14px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
    background: #EE82EE; 
}
 
nav ul li ul li a {
    text-align:left;
}
 
/* END NAV MENU */



