@charset "UTF-8";
/** Holberton Practice Styles
 * ----- Footer
 */

footer {
	position: float;
	bottom: 0;
	background-color: #5F9EA0;
	height: 150px;
	width: 100%;
	text-align: center;
	line-height: 120px;
	border-top: 3px solid #A52A2A;
	border-bottom: 3px solid #A52A2A;
}
