<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ethio Properties</title>

		<link rel="shortcut icon" href="images/logo.ico" >

		<link rel="stylesheet" href="styles/3-common.css"/>
		<link rel="stylesheet" href="styles/3-header.css"/>
		<link rel="stylesheet" href="styles/3-footer.css"/>
		<link rel="stylesheet" href="styles/2.css"/>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>

    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a>
        <ul>
            <li><a href="/crew">Our Crew</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/vision">Vision</a></li>
        </ul>
      </li>
                                                  <li><a href="/products">Services</a>
                                                    <ul>
                                                        <li><a href="/carpentry">Carpentry</a></li>
                                                        <li><a href="/waterproof">Waterproofing</a></li>
                                                        <li><a href="/concrete">Concrete</a></li>
                                                        <li><a href="/masonry">Masonry</a></li>
                                                        <li><a href="/prop">Property Maintenance</a></li>
                                                        <li><a href="/metal">Metal Construction</a></li>
                                                        <li><a href="/design">Interior Design</a></li>
                                                        <li><a href="/demo">Demo & Salvage</a></li>
                                                    </ul>
                                                  </li>
      <li><a href="/services">Portfolio</a>
      </li>          
      <li><a href="/contact">Contact</a>
        <ul>
            <li><a href="/email">Via Email</a></li>
            <li><a href="/contact_form">Web Form</a></li>
            <li><a href="/pigeon">Carrier Pigeon</a></li>
        </ul>
      </li>
    </ul>
    </nav>
    
    <div id="wrapper">
        <section id="content">
            <!-- all the content in here -->
        </section>
        
        <section id="left_side">        
        </section>
    </div> <!-- end wrapper -->

		<footer>
			<p>Ethiopia Realestate list</p>
		</footer>
	</body>
</html>
